body { 
    width: 50%;
    margin:auto;
    background-color: #D8D8D8;
    font-family: 'Merriweather', serif;
    
  }

  header {
    margin: auto;
    height: 150px;
    background-color: skyblue ;
    border-radius: 15px;
}

 
 footer {
    background-color: skyblue;
    border-radius: 15px;
    height: 80px;
    
    text-align: center;
    padding: 15px;
    font-family: 'Oswald', sans-serif;
}

#lastUpdated{
    color: navy;
}

h2{
    font-family: 'Oswald', sans-serif;
    margin-left: 200px;
    padding: 10px;
}

h1{
    font-size: xx-large;
    font-family: 'Oswald', sans-serif;
    margin-left: 150px;

}