/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {

    header, nav, main, footer {
        margin:auto;
    }

/*----------- BODY --------------*/


/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/
.navigation {
    display: flex;
}
.navigation li {
    display: block;
    padding: 1rem;
}
.navigation a {
    text-align: center;
}
.navigation li:first-child {
    display: none;
}

.social-media{
    width: 90%;
    text-align: right;
    margin: auto;
}
/*----------- MAIN --------------*/

/*----------- FOOTER --------------*/
    
} /* end of media query */