/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 35rem) {


/*----------- BODY --------------*/
main div picture img{
    height: 80vh;
    width: 100%;
    margin: 0;
}

.discover:hover {mix-blend-mode:hard-light;}

.box1 img{
    height: 300px;
}
.join2{
    margin-top: 200px;
    margin-left: 100px;
    padding: 12px 50px;

}
.join{
    font-size: 32px;
    padding: 15px 300px;
}

/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/
    /* Media Query for medium+ views */

	nav {
        margin: 0 auto;
        background-color: #056FB7;
    }
    .navigation {
        list-style: none;
        padding: 0;
    }
    .navigation li:first-child {
        display: block;
    }
    .navigation li {
        display: none;
    }
    .navigation a {
        display: block;
        padding: 0.75rem;
        text-align: left;
        text-decoration: none;
        color: #fff;
        font-weight: 700;
        transition: 0.5s;
        font-size: clamp(1rem, 2vmin, 1.5rem);
    }
    
    .navigation a.ham::before {
        content: "🍔 ";
    }
    
    .navigation a:hover {
        color: #003087;
        background-color: lightskyblue;
    }
    
    nav ul li.active a{
        background-color: #003087;
        color:#fff;
    }
    
    /* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
      <ul class="navigation responsive">
    */
    .responsive li {
        display: block;
    }
    
    .responsive a.ham::before {
        content: "❌ ";
    }
    
    .social-media{
        margin: auto;
        font-size:xx-large;
        color: white;

    }
    .social-media :hover{
        color:#003087;
    }


/*----------- MAIN --------------*/


.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.box1{
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 3;

}
.box2{
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: 3;

}
.box3{
    grid-row: 4;
    grid-column: 1/2;
}
.box4{
    grid-row: 4;
    grid-column: 2/2;

}
.box5{
    grid-row: 5;
    grid-column-start: 1;
    grid-column-end: 3;
}
.box6{
    grid-row: 6;
    grid-column: 1/2;
}
.box7{
    grid-row: 6;
    grid-column:2/2;
}




/*----------- FOOTER --------------*/
.date{
    font-size: small;
}   

.first{
    display:flex;
    float: left;
}
.middle{
    float: right;
    margin: auto;
}
.last{
    clear:both;
}

} /* end of media query */