/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 35rem) {


/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/
    /* Media Query for medium+ views */

	nav {
        margin: 0 auto;
        max-width: 760px;
        background-color: #056FB7;
    }
    .navigation {
        list-style: none;
        padding: 0;
    }
    .navigation li:first-child {
        display: block;
    }
    .navigation li {
        display: none;
    }
    .navigation a {
        display: block;
        padding: 0.75rem;
        text-align: left;
        text-decoration: none;
        color: #fff;
        font-weight: 700;
        transition: 0.5s;
        font-size: clamp(1rem, 2vmin, 1.5rem);
    }
    
    .navigation a.ham::before {
        content: "🍔 ";
    }
    
    .navigation a:hover {
        color: #003087;
        background-color: lightskyblue;
    }
    
    nav ul li.active a{
        background-color: #003087;
        color:#fff;
    }
    
    /* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
      <ul class="navigation responsive">
    */
    .responsive li {
        display: block;
    }
    
    .responsive a.ham::before {
        content: "❌ ";
    }
    
    .social-media{
        text-align: center;
        font-size:xx-large;
        color: white;
    }
    .social-media :hover{
        color:#003087;
    }


/*----------- MAIN --------------*/



/*----------- FOOTER --------------*/
.date{
    font-size: small;
}   

.special{
    float:left;
}
.left{
    clear:both;
}
} /* end of media query */