body{
    text-align: center;
}

div.wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 20px;

}

.ghost{
    grid-row: 1;
    grid-column: 1;
}

.groot{
    grid-row: 2;
    grid-column: 1;
}

.heart-cave{
    grid-row: 3;
    grid-column: 1;
}

.path{
    grid-row: 4;
    grid-column: 1;
}

.road{
    grid-row: 5;
    grid-column: 1;
}

.waterfall{
    grid-row: 6;
    grid-column: 1;
}

picture img[data-src] {
    filter: blur(0.2em);
  }

picture  img {
    filter: blur(0em);
    transition: filter 0.5s;
  }