@media only screen and (min-width: 560px){
    * { -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box; box-sizing: 
        border-box;  }
    div.first{
        margin: 20px;
        column-count:2;
        column-rule: 1px solid #ddd;
        clear: both;
        
        

    }


    section{
        margin: 20px;
    }
}