/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 35rem) {


/*----------- BODY --------------*/

/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/
.navigation {
    display: flex;
}

.navigation li {
    display: block;
    padding: 1rem;
}
.navigation a {
    text-align: center;
}
.navigation li:first-child {
    display: none;
}


/*----------- MAIN --------------*/

/*----------- MAIN Home--------------*/
main .fruit-drink img{
    width:50%;
    height:auto;
}

.contact-info{
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
    text-align: center;
    font-size: small;
    padding-top:.5rem;
}

.fruit-drink{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
}
.south-coast{
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding: .5rem;
}
.south-coast img{
    width:80%;
    height:auto;
}

.icon-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}


.join{
    margin-left: 150px;
}
/*----------- FOOTER --------------*/
    
} /* end of media query */