/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*----------- HEADER --------------*/
header {
    
    padding: .5rem 2%;
    background-color: #DEFFB9;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}
header img{
    border-radius: 50px;
}
.company-name h1{
    margin: 0;
    color: #3C5219;
    font-size: 2.5rem;
}
.company-name h4{
    margin: 0;
    color: #303030;
}

.company-name{
    margin: 0;
    display: flex;
    flex-direction: column;
}
header img, footer img{
    width: 80px;
    height: auto;
}



/*----------- NAVIGATION --------------*/
/* Small/Phone View ***************/
nav {
	display: grid;
	
}
.navigation {
	list-style: none;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: #000;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}
.nav ul{
  padding: 0;
  margin: 0;
}

.navigation a.ham::before {
	content: '';
}

.navigation a:hover {
	color: #000;
	background-color: #DEFFB9;
}

nav ul li.active a{
    background-color: #aaf652;
    color:#424242;
}
.social-media{
    text-align: center;
    
    padding: .5rem;
}
.social-media :hover{
    color:#003087;
}


/* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
  <ul class="navigation responsive">
*/
.responsive li {
	display: block;
}

.responsive a.ham::before {
	content: " ";
}

/*----------- MAIN --------------*/
main{
    text-align: center;
}
main img{
    width: 100%;
    height: auto;
}


.roboto{
    font-family: 'Roboto Serif', serif;
}

.gothic{
    font-family: 'Pathway Gothic One', sans-serif;
}

.montserrat{
    font-family: 'Montserrat', sans-serif;
}

h1,h2, h3{
    font-family: 'Roboto Serif', serif;
}

/*----------- MAIN- Home--------------*/



 .home, .about-us, .fresh{

    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: url(../images/background-image7.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
    gap: 1rem;
      
} 

main .fruit-drink{
    background-color: #DEFFB9;
    padding: 1.5rem;
    margin-top: 0;
}
.home div{
    margin-bottom: 1.5rem;
}

main div.contact-info{
    background-color: #DEFFB9;
    text-align: center;
    color: #3C5219;
    margin-bottom: 0;
    width:100%;

}
.south-coast img{
    width: 50%;
    height: 50%;
    margin: 1.5rem;

}
.image img{
    width:40%;
    height:40%;
}
.icons{
    padding: .5rem;
}

.icon-container{
    display:grid;
    grid-template-columns: 1fr;
    margin-left: 80px;
}

.weatherforecast{
    text-align: center;
    margin-left: 50px;
}

.join {
    border-radius: 19px;
    font-size: 18px;
    padding: 12px 100px;
    background-color:#DEFFB9;
    
    
}

.join:hover{

    background-color:#aaf652;
}

/*----------- MAIN- About Us--------------*/

main.about-us{
    text-align: center;
}
.google-map{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.about-us-info div{
    padding: 1.5rem;
    margin: 1.5rem auto;
}
.about-us-info h2{
    margin: 1.5rem;
}


/*----------- MAIN- Fresh--------------*/
#fresh-card{
    width: 80%;
    margin: 20px auto;
  }
  #fresh-box{
    display: block;
    background-color: #fff;
  }
  #fresh-left{
    padding: 40px;
    text-align: left;
  
  }
  #fresh-right{
    padding: 40px;
    background: rgb(243, 219, 223);
    width:80%;
    margin:20px auto;
  }
  #fresh-right p{
    margin: 1.5rem;
  }
  #fresh-card h1{
    margin-bottom: 30px;
    text-align: center;
  }
  
  #input-row{
    display: grid;
    margin-bottom: 20px;
  }

  .input-group{
    padding-top:1rem
  }

  .input-group input, select{
    width: 100%;
    border: none;
    border-bottom: 1px solid #7b0308;
    background-color: #DEFFB9 ;
    outline: none;
    padding-top: 10px;
    padding-bottom: 5px;;
  }
  
  #fresh-left textarea{
    width: 100%;
    border: 1px solid  #7b0308 ;
    outline: none;
    background-color: #DEFFB9 ;
    padding: 10px;
    box-sizing: border-box;
    }
    
    #fresh-left label{
        margin-bottom: 6px;
        background-color: #DEFFB9 ;
        display: block;
      }
      
  
  #fresh-left button{
    border-radius: 19px;
    font-size: 16px;
    padding: 12px 30px;
    background-color:#DEFFB9;

  }

  #fresh-left button:hover{

    background-color:#aaf652;
}
  #fresh-left h3{
    font-weight: 800;
    margin-bottom: 30px;
  }
  
  #fresh-right h3{
    font-weight: 800;
    margin-bottom: 30px;
  }
 
/*----------- FOOTER --------------*/
footer {
    background-color: #DEFFB9;
    padding: .5rem 2%;
    text-align: center;
}

footer {
    text-align: center;
    color:#3C5219;
    align-items: center;
    justify-content: center;
    
}

footer div{
    padding:10px;
}

